body {
    background-color: #091921;
    color: lightgray;
}

header {
    margin: 0;
}

h1 {
    font-size: xxx-large;
    margin: 0;
}

.container {
    /*border: white 1px solid;*/
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 2px solid gray;
    height: 50px;
    width: 50px;
}

tr:nth-of-type(3n):not(tr:nth-of-type(9)) {
    border-bottom: 3px solid white;
}

td:nth-of-type(3n):not(td:nth-of-type(9)) {
    border-right: 3px solid white;
}

input {
    transition: all linear .25s;
    font-size: x-large;
    box-sizing: border-box;
    text-align: center;
    border: none;
    color: white;
    background: none;
    height: 100%;
    width: 100%;
}

button {
    margin: 10px;
}

#solve-button {
    background: seagreen;
    height: 40px;
    width: 25%;
}

#clear-button {
    border-color: dimgray;
    background: darkred;
    height: 40px;
    width: 8%;
}

.solved {
    background-color: rgba(41, 119, 39, .8);
}

.bad-input {
    background-color: rgba(110, 47, 47, .8);
}